### ðŸ”· 11. Filter Dictionary by Value
- You are given:
    - scores = {'Aayush': 45, 'Bina': 78, 'Chetan': 60, 'Deepa': 30}

- Write a program to create a new dictionary with only those students who scored more than 50.

In [14]:
scores = {'Aayush': 45, 'Bina': 78, 'Chetan': 60, 'Deepa': 30}
val_more_than_50 = {}
for name in scores:
    if scores[name] > 50:
        val_more_than_50[name] = scores[name]

In [15]:
print(val_more_than_50)

{'Bina': 78, 'Chetan': 60}

OR

In [17]:
scores = {'Aayush': 45, 'Bina': 78, 'Chetan': 60, 'Deepa': 30}
more_than_50 = {}
for name, score in scores.items():
    if score > 50:
        more_than_50[name] = score

In [18]:
print(more_than_50)

{'Bina': 78, 'Chetan': 60}

### ðŸ”· 12. Find Key with Maximum Value
- Given:
    - sales = {'Jan': 5000, 'Feb': 6000, 'Mar': 5500, 'Apr': 7000}
- Find the month with the highest sales.

In [19]:
sales = {'Jan': 5000, 'Feb': 6000, 'Mar': 5500, 'Apr': 7000}
max_sales = 0
month_with_max_sales = ""
for month, sale in sales.items():
    if sale > max_sales:
        max_sales = sale
        month_with_max_sales = month

print(f"Month with highest sales: {month_with_max_sales}")
print(f"Maximum sales: {max_sales}")

Month with highest sales: Apr
Maximum sales: 7000

### ðŸ”· 13. Group Words by Length
- Given a list:
    - words = ["apple", "bat", "ball", "car", "dog", "elephant"]
- Group them into a dictionary where the key is the length of the word and the value is a list of words of that length:

In [21]:
words = ["apple", "bat", "ball", "car", "dog", "elephant"]
group_by_length = {}
for word in words:
    word_length = len(word)
    if word_length in group_by_length:
        group_by_length[word_length].append(word)
    else:
        group_by_length[word_length] = [word]
print(group_by_length)

{5: ['apple'], 3: ['bat', 'car', 'dog'], 4: ['ball'], 8: ['elephant']}

### ðŸ”· 14. Build a Dictionary from Input
- Ask the user to input 3 names and their ages, and build a dictionary from the input.
    - Enter name: Ramesh
    - Enter age: 23

- Final output:
    - {'Ramesh': 23, 'Sita': 25, 'Hari': 22}

In [23]:
people = {}
n = int(input("Enter the number of people: "))
while n != 0:
    name = input("Enter name: ")
    age = int(input("Enter age: "))
    people.update({name:age})
    n-=1
people

Enter the number of people:  3
Enter name:  Rimesh
Enter age:  20
Enter name:  Rishi
Enter age:  21
Enter name:  Gaurab
Enter age:  20

{'Rimesh': 20, 'Rishi': 21, 'Gaurab': 20}

### ðŸ”· 15. Calculate Total Price from Cart
- Given:
  - cart = {
    "apple": {"qty": 2, "price": 30},
    "banana": {"qty": 5, "price": 10},
    "mango": {"qty": 1, "price": 50}
}
- Write a program to calculate the total bill amount from the cart.

In [28]:
cart = {
    "apple": {"qty": 2, "price": 30},
    "banana": {"qty": 5, "price": 10},
    "mango": {"qty": 1, "price": 50}
}

total = 0
for item in cart:
    total += cart[item].get("price")

print(f"Total Bill amoun: {total}")

Total Bill amoun: 90

### ðŸ”· 16. Remove Duplicates from Dictionary Values
- Given:
    - data = {
    "group1": ["Ram", "Sita", "Ram"],
    "group2": ["Hari", "Sita"],
    "group3": ["Gita", "Ram"]
}
- Remove duplicates from all lists in the dictionary.

In [32]:
data = {
    "group1": ["Ram", "Sita", "Ram"],
    "group2": ["Hari", "Sita"],
    "group3": ["Gita", "Ram"]
}

for group, lst in data.items():
    unique_name = list(set(lst))
    data[group] = unique_name

print(data)

{'group1': ['Sita', 'Ram'], 'group2': ['Hari', 'Sita'], 'group3': ['Ram', 'Gita']}

In [35]:
data = {
    "group1": ["Ram", "Sita", "Ram"],
    "group2": ["Hari", "Sita"],
    "group3": ["Gita", "Ram"]
}
for group, lst in data.items():
    unique_list = []
    for name in lst:
        if name not in unique_list:
            unique_list.append(name)
    data[group] = unique_list

print(data)

{'group1': ['Ram', 'Sita'], 'group2': ['Hari', 'Sita'], 'group3': ['Gita', 'Ram']}

### ðŸ”· 17. Count Frequency of First Letters
- Given a list of names:
    - names = ['Anil', 'Amit', 'Bina', 'Bipin', 'Anju']
- Build a dictionary that stores the frequency of first letters:

In [37]:
names = ['Anil', 'Amit', 'Bina', 'Bipin', 'Anju']

count_frequency = {}
for name in names:
    first_letter = name[0]
    if first_letter in count_frequency:
        count_frequency[first_letter] += 1
    else:
        count_frequency[first_letter] = 1

print(count_frequency)

{'A': 3, 'B': 2}

### ðŸ”· 18. Check for Value in Nested Dictionary
- Given:
    - people = {
    "person1": {"name": "Amit", "age": 21},
    "person2": {"name": "Rita", "age": 25},
    "person3": {"name": "Bikash", "age": 19}
}
- Write a function that checks if a name exists in any nested dictionary.

In [41]:
people = {
    "person1": {"name": "Amit", "age": 21},
    "person2": {"name": "Rita", "age": 25},
    "person3": {"name": "Bikash", "age": 19}
}

def check_name(dictionary, name):
    for person in dictionary:
        if name.lower() in dictionary[person]["name"].lower():
            return True
    return False

name = input("Enter name: ") 

f"{name} Exist in dictionary" if check_name(people, name) else f"{name} not Exist in dictionary"

Enter name:  rita

'rita Exist in dictionary'

In [44]:
name = input("Enter name: ") 
f"{name} Exist in dictionary" if check_name(people, name) else f"{name} not Exist in dictionary"

Enter name:  Rimesh

'Rimesh not Exist in dictionary'

### ðŸ”· 19. Dictionary from CSV Format (String Input)
- Given a string of CSV format:
    - data = "Ramesh,30;Sita,25;Hari,28"
- Convert it into a dictionary

In [67]:
data = "Ramesh,30;Sita,25;Hari,28"
data_list = data.split(";")
new_dictionary = {}

for item in data_list:
    name,age = item.split(',')
    new_dictionary[name] = age

In [68]:
new_dictionary

{'Ramesh': '30', 'Sita': '25', 'Hari': '28'}

### ðŸ”· 20. Sum Values of Common Keys Across Dictionaries
- You are given a list of dictionaries:
    - dicts = [
    {'math': 70, 'science': 65},
    {'math': 80, 'english': 75},
    {'science': 55, 'english': 60}
]
- Write a program to combine them into one dictionary by summing the values of common keys.

In [70]:
dicts = [
    {'math': 70, 'science': 65},
    {'math': 80, 'english': 75},
    {'science': 55, 'english': 60}
]
combine = {}

for i in dicts:
    for key,value in i.items():
        if key in combine:
            combine[key] += value
        else:
            combine[key] = value
print(combine)

{'math': 150, 'science': 120, 'english': 135}