# üîÅ Loops (for, while, break, continue, range())

### 1. Print even numbers from 1 to 20 using a for loop.

In [30]:
print("The even numbers from 1 to 20 are: ")
for num in range(1,21):
    if num % 2 == 0:
        print(f"{num}, ",end="")

The even numbers from 1 to 20 are:
2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

### 2. Use a while loop to sum all numbers from 1 to 100.

In [31]:
n = 1
total = 0
while n <= 101:
    total += n
    n += 1

In [32]:
print("The sum is: ",sum)

The sum is:  102

### 3. Print numbers from 1 to 10, but skip 5 using continue.

In [33]:
for num in range(1,11):
    if num == 5:
        continue
    print(num)

1
2
3
4
6
7
8
9
10

### 4. Print the first 5 multiples of 7 using range().

In [34]:
print("The first 5 multiples of 7: ")
for i in range(1,6):
    print(7*i)

The first 5 multiples of 7:
7
14
21
28
35

### 5. Break a loop when the sum exceeds 50.

In [36]:
i = 1
total_sum = 0
while True:
    total_sum += i
    if total_sum > 50:
        break
    i += 1

print("Sum exceeded 50 at number: ",i)
print("Total sum :", total_sum)

Sum exceeded 50 at number:  10
Total sum : 55

### 6. Nested loop: Print a triangle pattern using stars *.

In [42]:
for i in range (1,6):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

### 7. Sum of Prime Numbers from 1 to N.
- Write a program that takes an integer n from the user and calculates the sum of all prime numbers from 1 to n.

In [50]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True

    if num % 2 == 0:
        return False

    for i in range(3, int(num**0.5)+1, 2):
        if num % i == 0:
            return False
    return True

In [56]:
n = int(input("Enter a number: "))
sum_of_prime = 0
list_of_prime = []
for i in range(1,n+1):
    if is_prime(i):
        list_of_prime.append(i)
        sum_of_prime+= i
print(f"List of prime number: {list_of_prime}")
print(f"The sum of prime number is {sum_of_prime}")

Enter a number:  15

List of prime number: [2, 3, 5, 7, 11, 13]
The sum of prime number is 41

### 2. Reverse a Number Using While Loop
- Take an integer input and reverse it using a while loop.

In [80]:
num = int(input("Enter number: "))
rev = 0
rem = 0
while num != 0:
    rem = num % 10
    rev = rev*10 + rem
    num = num // 10
print(f"Reversed Number: {rev}")

Enter number:  1234

Reversed Number: 4321

### 3. Print Fibonacci Series up to N terms using Loop
- Ask the user for a number n, and print the first n terms of the Fibonacci sequence using a for loop.

In [85]:
n = int(input("Enter number: "))
a,b = 0,1
for _ in range(n):
    print(a,end = ", ")
    a,b = b, a+b

Enter number:  5

0, 1, 1, 2, 3,

### 4. Pattern Printing ‚Äì Number Pyramid
- Print the following pattern using nested loops:
    - 1
    - 1 2
    - 1 2 3
    - 1 2 3 4

In [93]:
rows = int(input("Enter number of rows: "))
for rows in range(1,rows + 1):
    for cols  in range(1,rows + 1):
        print(cols,end=" ")
    print()

Enter number of rows:  4

1
1 2
1 2 3
1 2 3 4