### âœ… String Practice Questions

#### 1. Write a Python program to:

 - Convert all letters of the string to uppercase using .upper()

 - Convert all letters to lowercase using .lower()

In [1]:
text = "Welcome to Python Programming"
print(f"Upper Case : {text.upper()}")
print(f"Lower Case : {text.lower()}")

Upper Case : WELCOME TO PYTHON PROGRAMMING
Lower Case : welcome to python programming

#### 2. Count Substring Occurrence
- Count how many times the word "data" appears in the following string using .count().

In [10]:
s = "Data is the new oil. Data drives decisions. Data is everywhere."
print(f"data appears: {s.lower().count("data")}")

data appears: 3

#### 3. Find a Wordâ€™s Position
- Use the .find() method to get the index of the first occurrence of "Python" in the string.

In [11]:
sentence = "Learning Python is fun because Python is powerful."
print(f"The position of Python is {sentence.find("Python")}")

The position of Python is 9

#### 4. Check Start and End
 - Use .startswith() and .endswith() to check:

 - Does the string start with "Hello"?

 - Does the string end with "world!"?

In [14]:
msg = "Hello, welcome to the world!"
if msg.startswith("Hello"):
    print(f"Yes the string starts with Hello ")
if msg.endswith("world!"):
    print(f"Yes the string ends with world! ")

Yes the string starts with Hello
Yes the string ends with world!

#### 5. Remove Extra Spaces
 - Use .strip(), .lstrip(), and .rstrip() to clean the following string:

In [19]:
line = "   Python is awesome!    "
print(f"string with removed extra space from left: {line.lstrip()}")
print(f"string with removed extra space from right: {line.rstrip()}")
print(f"string with removed extra space: {line.strip()}")

string with removed extra space from left: Python is awesome!
string with removed extra space from right:    Python is awesome!
string with removed extra space: Python is awesome!

#### 6. Check Character Type
 - Given this string:
   - info = "Python3"
 - Use:

    - isalpha() to check if it contains only alphabets

    - isdigit() to check if it contains only digits

    - isalnum() to check if it's alphanumeric

In [23]:
info = "Python3"
if info.isalpha():
    print("The given string contain only Alphabet.")
elif info.isdigit():
    print("The given string contain only Digits")
else:
    print("The given string contain Alphanumeric")

The given string contain Alphanumeric

#### 7. Replace Words
- Replace "C++" with "Python" using .replace().

In [26]:
lang = "I love C++ because C++ is fast."
print(f"Before: {lang} ")
print(f"After: {lang.replace("C++","Python")}")

Before: I love C++ because C++ is fast.
After: I love Python because Python is fast.

#### 8. Split and Join Words
- Split the sentence into words using .split()

- Join the list of words using a hyphen (-) using .join()

In [28]:
sentence = "Python is easy to learn"
splitted_words = sentence.split()
new_sentence = "-".join(splitted_words)
print(new_sentence)

Python-is-easy-to-learn

#### 9. Capitalize Words
- Use .capitalize() to capitalize the first letter of the string.

- Use .title() to capitalize the first letter of each word.

In [29]:
txt = "machine learning with python"
print(f"Capitalize: {txt.capitalize()}")
print(f"Title: {txt.title()}")

Capitalize: Machine learning with python
Title: Machine Learning With Python

#### 10. Check for Substring
- Use the 'in' keyword or .find() to check if "ML" exists in the string.

In [36]:
s = "AI and ML are transforming the world."
"ML exist in the sting" if "ML" in s else "ML Doesn't exist in string"

'ML exist in the sting'

In [35]:
print(f"ML exists at index: {s.find("ML")}")

ML exists at index: 7

#### 11. Reverse Words in a Sentence
- Split the sentence, reverse the word order, and then join it back.

In [43]:
sentence = "Data Science is amazing"
lst_word = sentence.split()
print(" ".join((lst_word[::-1])))

amazing is Science Data

#### 12. Count Vowels Using String Methods
- Write a program that:

  - Converts the string to lowercase using .lower()

  - Counts the total number of vowels (a, e, i, o, u)

In [45]:
text = "Artificial Intelligence"
vowels = ['a','e', 'i', 'o', 'u']
counts = 0
for char in text:
    if char.lower() in vowels:
        counts += 1

print(f"{counts} vowel presents in the text")

10 vowel presents in the text

#### 13. Mask Digits in a String
- Replace all digits with * using .replace() or a loop + .isdigit().

In [53]:
data = "User123 has access to code456"
masked = ""
for char in data:
    if char.isdigit():
        masked += "*"
    else:
        masked += char

print(masked)

User*** has access to code***

In [57]:
data = "User123 has access to code456"
for digit in '0123456789':
    data = data.replace(digit,"*")
print(data)

User*** has access to code***

14. Validate Password Strength
- Check a password string and ensure it:

  - Has at least 1 digit using .isdigit()

  - Has at least 1 uppercase letter using .isupper()

  - Has at least 1 lowercase letter using .islower()

In [66]:
password = input("Enter your password: ")
has_lower = False
has_upper = False
has_digit = False

for char in password:
    if char.isdigit():
        has_digit = True
    elif char.isupper():
        has_upper = True
    elif char.islower():
        has_lower = True
    # it make break the code when all values are True{no unnecessary checks}
    if has_digit and has_upper and has_lower:
        break 

if has_digit and has_lower and has_upper:
    print("Password is good")
else:
    print("Password is bad")

Enter your password:  Text123

Password is good

#### 15. Word Frequency Counter
- Use .split() and .count() to count how many times each word appears.

In [68]:
text = "data science data analysis machine learning data"
splitted_text = text.split()

for word in splitted_text:
    print(f"Count of {word}: {splitted_text.count(word)}")

Count of data: 3
Count of science: 1
Count of data: 3
Count of analysis: 1
Count of machine: 1
Count of learning: 1
Count of data: 3

#### String Slicing Question
- Question:
  - Given the string:
    - text = "DataScienceWithPython"

- Write a Python program to:

  - Print the first 4 characters.

  - Print the last 6 characters.

  - Print the characters from index 4 to 10 (inclusive of index 4, exclusive of 10).

  - Print every 2nd character from the whole string.

  - Reverse the string using slicing.

In [69]:
text = "DataScienceWithPython"

In [76]:
print(f"First 4 Character from text: {text[0:4]}")
print(f"First 6 Character from text: {text[0:6]}")
print(f"The characters from index 4 to 10: {text[4:10]}")
print(f"Every 2nd character from the whole string: {text[::2]}")
print(f"Reversing the string: {text[::-1]} ")

First 4 Character from text: Data
First 6 Character from text: DataSc
The characters from index 4 to 10: Scienc
Every 2nd character from the whole string: DtSineihyhn
Reversing the string: nohtyPhtiWecneicSataD

### âœ… List Practice Questions

#### 1. Write a Python program to find the second largest number in a list.

In [2]:
def second_largest(lst):
    if len(lst) < 2:
        return "List must have at least two elements."
    lst = list(set(lst))
    lst.sort(reverse=True)
    return lst[1]

In [4]:
lst = [14,1,2,3,45,8,9,10]   
print("Second largest number is:", second_largest(lst))

Second largest number is: 14

#### 2. Access Elements by Index
- Print the first and last element.

- Print the second-to-last element.

In [79]:
colors = ['red', 'green', 'blue', 'yellow']
print("The first element of list: ", colors[0])
print("The last element of list: ", colors[len(colors) - 1])
print(f"Second to last elements: {colors[(len(colors) - 2):]}")

The first element of list:  red
The last element of list:  yellow
Second to last elements: ['blue', 'yellow']

#### 3. List Slicing
- Given:

  - numbers = [10, 20, 30, 40, 50, 60]

- Print the first 3 elements.

- Print the last 2 elements.

- Reverse the list using slicing.

In [83]:
numbers = [10, 20, 30, 40, 50, 60]
print("First 3 elements: ",numbers[:3])
print("Last 2 elements: ", numbers[(len(numbers)-2):])
print("List Reversed: ", numbers[::-1])

First 3 elements:  [10, 20, 30]
Last 2 elements:  [50, 60]
List Reversed:  [60, 50, 40, 30, 20, 10]

#### 4. Change an Item
- Change the third item in this list to 'cherry':
  - fruits = ['apple', 'banana', 'orange']

In [87]:
fruits = ['apple', 'banana', 'orange']
fruits.insert(2,"cherry")
print("List after insert of cherry: ", fruits)

List after insert of cherry:  ['apple', 'banana', 'cherry', 'orange']

#### 5. Add and Remove Items
- Using .append() and .remove() on this list:

 - names = ['Alice', 'Bob', 'Charlie']

- Add 'David' to the list

- Remove 'Bob' from the list

In [91]:
names = ['Alice', 'Bob', 'Charlie']
# adding David to the list
names.append("David")
print("Appended List: ",names)

# removing Bob from the list
names.remove("Bob")
print("Updated List: ", names)

Appended List:  ['Alice', 'Bob', 'Charlie', 'David']
Updated List:  ['Alice', 'Charlie', 'David']

#### 6. List Length
- Find the length of this list:
     - lst = [3, 5, 7, 9, 11, 13]

In [92]:
lst = [3, 5, 7, 9, 11, 13]
print("Length of the list: ", len(lst))

Length of the list:  6

#### 7. List Concatenation
- Combine these two lists into one:
  - even = [2, 4, 6]
  - odd = [1, 3, 5]

In [95]:
even = [2, 4, 6]
odd = [1, 3, 5]
num = even + odd
print("Combined list: ", num)

Combined list:  [2, 4, 6, 1, 3, 5]

#### 8. Sort and Reverse a List
- Sort the list in ascending and descending order:

In [106]:
scores = [88, 92, 75, 95, 66]
scores.sort()
print(f"Ascending Order: {scores}")
scores.sort(reverse=True)
print(f"Descending Order: {scores}")

Ascending Order: [66, 75, 88, 92, 95]
Descending Order: [95, 92, 88, 75, 66]

#### 9. Check Item in List
- Check if 'Python' exists in this list:

In [108]:
langs = ['Java', 'C++', 'Python', 'Ruby']
"Python Exists" if "Python" in langs else "Python doesn't exists"

'Python Exists'

#### 10. Sum and Average of List Items
- Write a program to calculate the sum and average of:
     - marks = [70, 80, 65, 90, 85]

In [110]:
marks = [70, 80, 65, 90, 85]
sum_list = sum(marks)
avg = sum_list / len(marks) 
print(f"Sum: {sum_list}")
print(f"Average: {avg}")

Sum: 390
Average: 78.0

#### 11. Remove Duplicates from List
- Remove duplicates from this list and keep the order:

In [115]:
data = [1, 2, 2, 3, 4, 4, 5]
new_lst = []
for n in data:
    if n not in new_lst:
        new_lst.append(n)

print("Removed Duplicates from list: ", new_lst)

Removed Duplicates from list:  [1, 2, 3, 4, 5]

#### 12. Find Maximum and Minimum
- Find the largest and smallest number from this list:

In [117]:
nums = [15, 6, 28, 4, 19]
print(f"Maximum: {max(nums)}")
print(f"Minimum: {min(nums)}")

Maximum: 28
Minimum: 4

#### 13. List Comprehension
- Write a list comprehension to create a list of squares of numbers from 1 to 10.

In [119]:
square = [num**2 for num in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

#### 14. Filter Even Numbers
- From the list below, create a new list of only even numbers using list comprehension.

In [120]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
only_even = [n for n in nums if n % 2 == 0]
print("List of even: ", only_even)

List of even:  [2, 4, 6, 8, 10]

#### 15. Nested Lists (2D List)
- Access the number 5 in this nested list:

In [124]:
matrix = [[1, 2], [3, 4], [5, 6]]
print("Accessed",matrix[2][0])

Accessed 5

### ðŸ› ï¸ Python List Method Practice Questions

#### ðŸ”¹ 1. Append and Insert
- Write a program to:
   - Create a list fruits = ['apple', 'banana']
   - Add 'mango' to the end using .append()
   - Insert 'orange' at the 1st index using .insert()

In [128]:
fruits = ['apple', 'banana']
# appending 
fruits.append("mango")
print("Appended: ", fruits)
fruits.insert(1,"orange")
print("Inserted: ", fruits)

Appended:  ['apple', 'banana', 'mango']
Inserted:  ['apple', 'orange', 'banana', 'mango']

#### ðŸ”¹ 2. Extend a List
- You have two lists:
  - list1 = [1, 2, 3]
  - list2 = [4, 5]

- Extend list1 with elements of list2 using .extend().

In [131]:
list1 = [1, 2, 3]
list2 = [4, 5]
list1.extend(list2)
print("Extended List: ",list1 )

Extended List:  [1, 2, 3, 4, 5]

#### ðŸ”¹ 3. Remove vs Pop
- Given:
  - items = ['pen', 'pencil', 'eraser', 'sharpener']
- Remove 'eraser' using .remove()
- Remove the last item using .pop()

In [133]:
items = ['pen', 'pencil', 'eraser', 'sharpener']
# using .remove()
items.remove("eraser")
print("List after eraser removed: ", items )
# using pop()
removed_item = items.pop()
print("Removed item: ", removed_item)

List after eraser removed:  ['pen', 'pencil', 'sharpener']
Removed item:  sharpener

#### ðŸ”¹ 4. Sort and Reverse
- Given:
    - scores = [55, 75, 35, 90, 65]
- Sort the list in ascending order using .sort()
- Then reverse the list using .reverse()

In [136]:
scores = [55, 75, 35, 90, 65]
scores.sort()
print("Ascending order: ", scores)
scores.sort(reverse=True)
print("Descending order: ", scores)

Ascending order:  [35, 55, 65, 75, 90]
Descending order:  [90, 75, 65, 55, 35]

#### ðŸ”¹ 5. Count and Index
- From this list:
    - colors = ['red', 'blue', 'green', 'blue', 'yellow']

- Find how many times 'blue' appears using .count()
- Find the index of 'green' using .index()

In [137]:
colors = ['red', 'blue', 'green', 'blue', 'yellow']
print(f"{colors.count('blue')} times blue appears.")
print(f"Index of green is {colors.index("green")}")

2 times blue appears.
Index of green is 2

#### ðŸ”¹ 6. Copy a List
- Create a copy of this list using .copy():

    - names = ['Alice', 'Bob', 'Charlie']
- Then modify the copied list by appending 'David'. Print both lists to show the original is unchanged.

In [142]:
names = ['Alice', 'Bob', 'Charlie']
names_copy = names.copy()
names_copy.append("David")
print(f"Original List: {names}")
print(f"Copied List: {names_copy}")

Original List: ['Alice', 'Bob', 'Charlie']
Copied List: ['Alice', 'Bob', 'Charlie', 'David']

#### ðŸ”¹ 7. Clear a List
- Create a list of any 4 countries, then remove all elements using .clear().

In [146]:
country = ["Nepal", "Germany", "USA", "India"]
print("Country List before: ", country)
country.clear()
print("Country List after: ", country)

Country List before:  ['Nepal', 'Germany', 'USA', 'India']
Country List after:  []

#### ðŸ”¹ 8. List Method Chain Practice
- Given:

    - numbers = [3, 1, 4, 1, 5, 9]
- Write code to:

    - Remove the first 1

    - Append 2

    - Sort the list

    - Reverse it

In [155]:
numbers = [3, 1, 4, 1, 5, 9]
# removing 1st 1
numbers.remove(1)
print("Removing 1: ", numbers)

# appending 2
numbers.append(2)
print("Appended 2 to the list: ", numbers)

# sorting 
numbers.sort()
print("Sorted list: ", numbers)

# reversing
rev = list(reversed(numbers))
print("Reversed List: ", rev)

Removing 1:  [3, 4, 1, 5, 9]
Appended 2 to the list:  [3, 4, 1, 5, 9, 2]
Sorted list:  [1, 2, 3, 4, 5, 9]
Reversed List:  [9, 5, 4, 3, 2, 1]

#### ðŸ”¹ 9. Use All Add Methods Together
- Start with an empty list. Then:

    - Use .append() to add 3 items

    - Use .insert() to add an item at index 1

    - Use .extend() to add another list [10, 20]

In [158]:
lst = []

lst.append(1)
lst.append(2)
lst.append(3)

print("Append List: ", lst)

lst.insert(1,"insert")
print("List after inserted: ", lst)

lst2 = [10, 20]
lst.extend(lst2)
print("List after extended: ", lst)

Append List:  [1, 2, 3]
List after inserted:  [1, 'insert', 2, 3]
List after extended:  [1, 'insert', 2, 3, 10, 20]

#### ðŸ”¹ 10. Mixed Method Challenge
- You are given:

    - data = [4, 2, 8, 6]
- Perform the following operations:

    - Insert 5 at index 2

    - Remove 2

    - Append 9

    - Sort the list in descending order

In [159]:
data = [4, 2, 8, 6]

data.insert(2,5)
print("Insert Operation: ", data)

data.remove(2)
print("Remove Operation: ", data)

data.append(9)
print("Append Operation: ", data)

data.sort(reverse= True)
print("Descending: ", data)

Insert Operation:  [4, 2, 5, 8, 6]
Remove Operation:  [4, 5, 8, 6]
Append Operation:  [4, 5, 8, 6, 9]
Descending:  [9, 8, 6, 5, 4]

#### -------------------------------------------------------------------------------

## âœ…Dictionary Practice Questions

### ðŸ”¹ Basic Level
#### 1. Create a Dictionary
- Create a dictionary of 3 countries and their capitals.

In [41]:
dictionary = {
    "Nepal": "Kathmandu",
    "India": "New Delhi",
    "Japan": "Tokyo"
}

print(dictionary)

{'Nepal': 'Kathmandu', 'India': 'New Delhi', 'Japan': 'Tokyo'}

#### 2. Access Value by Key
Given:
    - student = {"name": "Ramesh", "age": 21, "Faculty":"BIT"}

- Print the value of "name" and "Faculty" using square bracket and .get().

In [42]:
student = {
    "name": "Ramesh", "age": 21, "Faculty":"BIT"
}
print(student.get("grade","key doesn't exist"))

key doesn't exist

In [43]:
print(student.get("name","key doesn't exist"))
print(student.get("Faculty","key doesn't exist"))

Ramesh
BIT

In [44]:
print(student)

{'name': 'Ramesh', 'age': 21, 'Faculty': 'BIT'}

#### 3. Add and Update Key-Value Pairs
- Add a new key "email" to the dictionary. Then update the "age" to 22.

In [45]:
student.update({
    "email": "rameshbit@gmail.com",
    "age": 22
})

In [46]:
print(student)

{'name': 'Ramesh', 'age': 22, 'Faculty': 'BIT', 'email': 'rameshbit@gmail.com'}

#### 4. Delete a Key-Value Pair
- Remove "Faculaty" from the dictionary using .pop().

In [47]:

print(student.pop("Faculty","No key present")) # here pop return the removed value of key "Faculty"

BIT

In [48]:
student

{'name': 'Ramesh', 'age': 22, 'email': 'rameshbit@gmail.com'}

### ðŸ”¸ Intermediate Level

#### 5. Use .keys() and .values()
Given:- 
- fruits = {"apple": 2, "banana": 3, "mango": 5}
    - Print all keys

    - Print all values

    - Print all key-value pairs using .items()

In [57]:
fruits = {"apple": 2, "banana": 3, "mango": 5}

print(f"All keys of dictionary: {fruits.keys()} ", )
print(f"All Values of dictionary: {fruits.values()}")

All keys of dictionary: dict_keys(['apple', 'banana', 'mango'])
All Values of dictionary: dict_values([2, 3, 5])

In [63]:
print("Print all key-value pairs using .items()")
for key,value in fruits.items():
    print(f"{key} : {value}")

Print all key-value pairs using .items()
apple : 2
banana : 3
mango : 5

#### 6. Check Key Existence
- Check whether "apple" exists in the dictionary using the **in** keyword.

In [65]:
"apple exists" if "apple" in fruits else "apple not exists" # using ternary operator
## used 'in' membership operator

'apple exists'

#### 7. Loop Through Dictionary
Given:
    - marks = {"Math": 90, "Science": 85, "English": 88}

- Write a program to print each subject and its marks like:

    - Math -> 90
    - Science -> 85
    - English -> 88

In [66]:
marks = {"Math": 90, "Science": 85, "English": 88}

for key,val in marks.items():
    print(f"{key} -> {val}")

Math -> 90
Science -> 85
English -> 88

#### 8. Create Dictionary from Two Lists
- Given:
    - keys = ["name", "age", "city"]
    - values = ["Sita", 24, "Pokhara"]
- Create a dictionary by pairing them.

In [69]:
keys = ["name", "age", "city"]
values = ["Sita", 24, "Pokhara"]

person ={}
for i in range(len(keys)):
    person.update({keys[i]: values[i]})

In [70]:
person

{'name': 'Sita', 'age': 24, 'city': 'Pokhara'}

OR

In [75]:
persons = dict(zip(keys,values))

In [76]:
persons

{'name': 'Sita', 'age': 24, 'city': 'Pokhara'}

## ðŸ”º Advanced / Application Level

#### 9. Count Character Frequency
- Write a program that counts the frequency of each character in a string and stores it in a dictionary.

In [79]:
string = input("Enter string: ").lower()
my_dict = {}
for char in string:
    if char in my_dict:
        my_dict[char]+= 1
    else:
        my_dict[char] = 1

print(my_dict)

Enter string:  BANANA

{'b': 1, 'a': 3, 'n': 2}

#### 10. Merge Two Dictionaries
- Merge the following dictionaries using .update():

    - dict1 = {"a": 1, "b": 2}
    - dict2 = {"c": 3, "d": 4}

In [83]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

for key in dict2:
    dict1[key]= dict2[key]
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

OR

In [85]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

#### 11. Nested Dictionary Access
- Given:
    - user = {
    "name": "Raju",
    "address": {
        "city": "Lalitpur",
        "zipcode": 44600
    }
}

- Access the "city" value from the nested dictionary.

In [91]:
user = {
    "name": "Raju",
    "address": {
        "city": "Lalitpur",
        "zipcode": 44600
    }
}

print(user.get("address", {}).get("city"))

Lalitpur

#### 12. Remove Last Inserted Item
- Use .popitem() to remove the last inserted item from a dictionary:

In [94]:
books = {"Python": 120, "C++": 100, "Java": 150}

books.popitem()
print(books)

{'Python': 120, 'C++': 100}

#### 13. Clear All Items
- Clear all key-value pairs from a dictionary using .clear(

In [96]:
books.clear()

In [97]:
books

{}