# ✅Beginner Python Programmming Questions

### 1️⃣Variable & Data Types

#### 1. Write a Python program to swap two variables.

In [1]:
# approach - 1

var_1 = int(input("Enter first number: "))
var_2 = int(input("Enter second number: "))

# before swapping
print(f"Before swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

# swapping
var_1,var_2 = var_2, var_1 

# after swapping
print(f"After swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

Enter first number:  5
Enter second number:  4

Before swapping:
var_1 = 5
var_2 = 4
After swapping:
var_1 = 4
var_2 = 5

In [2]:
# approach - 2(Using XOR operator) 

var_1 = int(input("Enter first number: "))
var_2 = int(input("Enter second number: "))

# before swapping
print(f"Before swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

# swapping
var_1 = var_1 ^ var_2
var_2 = var_1 ^ var_2
var_1 = var_1 ^ var_2

# after swapping
print(f"After swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

Enter first number:  5
Enter second number:  4

Before swapping:
var_1 = 5
var_2 = 4
After swapping:
var_1 = 4
var_2 = 5

In [3]:
# approach - 3 (using "+" and "-" operator)

var_1 = int(input("Enter first number: "))
var_2 = int(input("Enter second number: "))

# before swapping
print(f"Before swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

# swapping
var_1 = var_1 + var_2
var_2 = var_1 - var_2
var_1 = var_1 - var_2

# after swapping
print(f"After swapping: ")
print(f"var_1 = {var_1} \nvar_2 = {var_2}")

Enter first number:  5
Enter second number:  4

Before swapping:
var_1 = 5
var_2 = 4
After swapping:
var_1 = 4
var_2 = 5

#### 2. Take user input of name and age, then print: "Hello, name. You will be <age+1> next year."

In [4]:
name = input("Enter your name: ")
age = int(input("Enter your current age: "))

print(f"Hello, {name}. You will be {age + 1} next year.")

Enter your name:  John Doe
Enter your current age:  20

Hello, John Doe. You will be 21 next year.

#### 3. Convert temperature from Celsius to Fahrenheit.

In [5]:
# Celsius into Fahrenheit

def celsius_to_fahrenheit(temp_cel):
    doubled = temp_cel * 2
    ten_percent = (10 / 100) * doubled # instead -->  0.1 * doubled
    adjusted = doubled - ten_percent
    fahrenheit = adjusted + 32   
    return fahrenheit


temp_cel = int(input("Enter temperature in Celsius: "))
print(f"{temp_cel}°C = {celsius_to_fahrenheit(temp_cel)}°F ")

Enter temperature in Celsius:  30

30°C = 86.0°F

In [6]:
def celsius_to_fahrenheit(temp_cel):
    return (temp_cel * 1.8) + 32

temp_cel = int(input("Enter temperature in Celsius: "))
print(f"{temp_cel}°C = {celsius_to_fahrenheit(temp_cel)}°F ")

Enter temperature in Celsius:  86

86°C = 186.8°F

#### 4. Convert temperature from Fahrenheit to Celsius .

In [7]:
def fahrenheit_to_celsius(temp_feh):
    return (temp_feh - 32)/1.8

temp_feh = int(input("Enter temperature in Fahrenheit: "))
print(f"{temp_feh}°F = {fahrenheit_to_celsius(temp_feh)}°C ")

Enter temperature in Fahrenheit:  86

86°F = 30.0°C

In [8]:
def estimate_f_to_c(temp_f):
    step1 = temp_f - 32
    step2 = step1 / 2
    step3 = step2 + (10 / 100) * step2
    return round(step3, 2)

temp_f = float(input("Enter temperature in Fahrenheit: "))
print(f"{temp_f}°F ≈ {estimate_f_to_c(temp_f)}°C (estimated)")

Enter temperature in Fahrenheit:  86

86.0°F ≈ 29.7°C (estimated)

#### ----------------------------------------------------------------------------------------

### 2️⃣Conditionals

#### 5. Write a program to check if a number is even or odd.

In [9]:
def is_even():
    num = int(input("Enter a number: "))
    if num % 2 != 0:
        print(f"{num} is Odd number.")
    else:
        print(f"{num} is Even number.")

is_even()

Enter a number:  85

85 is Odd number.

#### 6. Take input from the user and determine if it is positive, negative, or zero.

In [10]:
def determine_PNZ():
    num = int(input("Enter any number: "))

    if num > 0:
        print(f"{num} is Positive Number.")
    elif num < 0:
        print(f"{num} is Negative Number.")
    else:
        print(f"{num} is Zero.")

determine_PNZ()

Enter any number:  86

86 is Positive Number.

#### 7. Check whether a given year is a leap year or not.

In [11]:
def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

year = int(input("Enter year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else: 
    print(f"{year} is not leap year.")

Enter year:  2000

2000 is a leap year.

#### ----------------------------------------------------------------------------------------

## 3️⃣Loops

#### 8. Print numbers from 1 to 100 using a loop.

In [12]:
for i in range(1,101):
    print(f"Number at index {i-1}: {i}")

Number at index 0: 1
Number at index 1: 2
Number at index 2: 3
Number at index 3: 4
Number at index 4: 5
Number at index 5: 6
Number at index 6: 7
Number at index 7: 8
Number at index 8: 9
Number at index 9: 10
Number at index 10: 11
Number at index 11: 12
Number at index 12: 13
Number at index 13: 14
Number at index 14: 15
Number at index 15: 16
Number at index 16: 17
Number at index 17: 18
Number at index 18: 19
Number at index 19: 20
Number at index 20: 21
Number at index 21: 22
Number at index 22: 23
Number at index 23: 24
Number at index 24: 25
Number at index 25: 26
Number at index 26: 27
Number at index 27: 28
Number at index 28: 29
Number at index 29: 30
Number at index 30: 31
Number at index 31: 32
Number at index 32: 33
Number at index 33: 34
Number at index 34: 35
Number at index 35: 36
Number at index 36: 37
Number at index 37: 38
Number at index 38: 39
Number at index 39: 40
Number at index 40: 41
Number at index 41: 42
Number at index 42: 43
Number at index 43: 44
Number at index 44: 45
Number at index 45: 46
Number at index 46: 47
Number at index 47: 48
Number at index 48: 49
Number at index 49: 50
Number at index 50: 51
Number at index 51: 52
Number at index 52: 53
Number at index 53: 54
Number at index 54: 55
Number at index 55: 56
Number at index 56: 57
Number at index 57: 58
Number at index 58: 59
Number at index 59: 60
Number at index 60: 61
Number at index 61: 62
Number at index 62: 63
Number at index 63: 64
Number at index 64: 65
Number at index 65: 66
Number at index 66: 67
Number at index 67: 68
Number at index 68: 69
Number at index 69: 70
Number at index 70: 71
Number at index 71: 72
Number at index 72: 73
Number at index 73: 74
Number at index 74: 75
Number at index 75: 76
Number at index 76: 77
Number at index 77: 78
Number at index 78: 79
Number at index 79: 80
Number at index 80: 81
Number at index 81: 82
Number at index 82: 83
Number at index 83: 84
Number at index 84: 85
Number at index 85: 86
Number at index 86: 87
Number at index 87: 88
Number at index 88: 89
Number at index 89: 90
Number at index 90: 91
Number at index 91: 92
Number at index 92: 93
Number at index 93: 94
Number at index 94: 95
Number at index 95: 96
Number at index 96: 97
Number at index 97: 98
Number at index 98: 99
Number at index 99: 100

#### 9. Print the multiplication table of a number entered by the user.

In [13]:
def print_table(num):
    for i in range(1,11):
        print(f"{num} x {i} = {num*i}")

num = int(input("Enter a number: "))
print_table(num)

Enter a number:  45

45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

#### 10. Calculate the sum of all numbers from 1 to n.

In [14]:
def sum_of_nth():
    sum = 0
    num = int(input("Enter the nth number: "))
    for i in range(1,num + 1):
        sum += i 
    return sum

In [15]:
print(f"The sum of all numbers from 1 to n : {sum_of_nth()}")

Enter the nth number:  50

The sum of all numbers from 1 to n : 1275

#### ----------------------------------------------------------------------------------------

### 4️⃣Strings

#### 11. Count vowels in a given string.

In [16]:
def count_vowel(words):
    count = 0
    for char in words:
        if char.upper() in ['A','E','I','O','U']:
            count += 1
    return count

In [17]:
string = input("Enter a string: ")
print(f"{string} contain {count_vowel(string)} vowels")

Enter a string:  I love Python

I love Python contain 4 vowels

#### 12. Check whether a string is a palindrome.

In [18]:
def is_palindrome(word):
    rev_word = word[::-1]
    if word == rev_word:
        print(f"{word} is palindrome")
    else:
        print(f"{word} is not a palindrome")

In [19]:
word = input("Enter a string: ")
is_palindrome(word)

Enter a string:  mam

mam is palindrome

#### 13. Reverse a string without using built-in functions.

In [20]:
def rev_string(string):
    return string[::-1]

In [21]:
string = input("Enter string: ")
print(f"Reverse of {string} : {rev_string(string)}")

Enter string:  python

Reverse of python : nohtyp

#### ----------------------------------------------------------------------------------------

### 5️⃣ Lists

#### 14. Find the maximum and minimum in a list without using max() or min().

In [22]:
def find_max_min(lists):
    max = min =  lists[0]
    for num in lists[1:]:
        if num > max:
            max = num
        if num < min:
            min = num
    return max, min

In [23]:
nums = [1,9,3,8,15,7]
max_val, min_val = find_max_min(nums)
print("Maximum value in list : ", max_val)
print("Minimum value in list : ", min_val)

Maximum value in list :  15
Minimum value in list :  1

#### 15. Remove duplicates from a list.

In [24]:
def remove_duplicate(lists):
    remove_dup = set(lists)
    return list(remove_dup)

In [25]:
li = [1,4,2,1,5,8,9,8,3,3,4]
print(f"Removed Duplicated list: {remove_duplicate(li)}")

Removed Duplicated list: [1, 2, 3, 4, 5, 8, 9]

#### 16. Sort a list in ascending order (without using built-in sort()).

In [26]:
def sort_ascending(lst):
    n = len(lst)
    for i in range(n):
        for j in range(n - 1):
            if lst[j] > lst[j + 1]:
                lst[j],lst[j + 1] = lst[j + 1], lst[j]
    return lst

In [27]:
lst = [4,8,3,5,1]
print(f"Arranged into ascending order: {sort_ascending(lst)}")

Arranged into ascending order: [1, 3, 4, 5, 8]

#### ----------------------------------------------------------------------------------------

### 6️⃣ Functions

#### 17. Write a function to find the factorial of a number.

In [28]:
def find_factorial(num):
    fact = 1
    for i in range(1,num+1):
        fact *= i
    return fact

In [29]:
num = int(input("Enter a number: "))
print(f"Factorial of {num} : {find_factorial(num)}")

Enter a number:  5

Factorial of 5 : 120

#### 18. Write a function that returns the sum of all elements in a list.

In [30]:
def sum_of_list(lst):
    sum = 0
    for num in lst:
        sum += num
    return sum

In [31]:
lst = [1,2,3,4,5,6]
print(f"The sum of all elements: {sum_of_list(lst)}")

The sum of all elements: 21

#### 19. Create a function to check if a number is prime.

In [32]:
def is_prime(num):
    if num == 0 or num == 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False

    for i in range(3,int(num**0.5)+1,2):
        if num % i == 0:
            return False
    return True

In [33]:
num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is a Prime Number.")
else:
    print(f"{num} is Not a Prime Number.")

Enter a number:  56

56 is Not a Prime Number.

#### ----------------------------------------------------------------------------------------

### 7️⃣ Dictionaries & Sets

#### 20. Count frequency of each word in a sentence using a dictionary.

In [52]:
import string
def count_words(sentence):
    table = str.maketrans("","",string.punctuation)
    cleaned_sentence = sentence.translate(table).lower()
    words = cleaned_sentence.split()
    count_freq = {}

    for word in words:
        if word in count_freq:
            count_freq[word] += 1
        else:
            count_freq[word] = 1
    return count_freq

In [53]:
sentence = input("Enter a sentence: ")
result = count_word_frequency(sentence)
print("Word frequencies:", result)

Enter a sentence:  I love Python Programming. I am Learning Python Programming. Python is a Dynamic Programming

Word frequencies: {'i': 2, 'love': 1, 'python': 3, 'programming.': 2, 'am': 1, 'learning': 1, 'is': 1, 'a': 1, 'dynamic': 1, 'programming': 1}

#### 21. Create a dictionary of squares of numbers from 1 to 10.

In [36]:
def sqr_of_dict_():
    num_dict = {}
    for i in range(1,11):
        num_dict[i]=i**2
    return num_dict

In [37]:
print("A dictionary of squares of numbers from 1 to 10: ")
print(sqr_of_dict_())

A dictionary of squares of numbers from 1 to 10:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### 22. Remove duplicate elements from a list using a set.

In [38]:
def remove_duplicate(lst):
    removed = set(lst)
    return list(removed)

In [39]:
lst = [1,2,3,1,15,2,8,6,15,18,48,18]
print(f"Removed Duplicated: {remove_duplicate(lst)}")

Removed Duplicated: [1, 2, 3, 6, 8, 15, 48, 18]

#### ----------------------------------------------------------------------------------------

### 8️⃣ File Handling

### 23. Write to a file and then read the contents.

In [58]:
file = open("text.txt","w")
file.write("Hello, i am learning python programming.")
file.close()
print("\"text.txt\" file created & content written successfully!!\n")

file = open("text.txt","r")
contents = file.read()
print("File Contents: ",contents)
file.close()

"text.txt" file created & content written successfully!!

File Contents:  Hello, i am learning python programming.

#### 24. Count the number of lines, words, and characters in a text file.

In [71]:
def count_func(filename):
    count_line = 0
    count_char = 0
    count_words = 0
    with open(filename,"r") as file:
        for line in file:
            count_line += 1
            count_char += len(line)
            count_words += len(line.split())
    return count_line,count_char, count_words

In [72]:
filename= input("Enter file name: ")
count_line,count_char,count_words = count_func(filename)
print(f"Numbers of Line in \"{filename}\": {count_line}")
print(f"Number of count: {count_char}")
print(f"Number of words: {count_words}")

Enter file name:  example.txt

Numbers of Line in "example.txt": 3
Number of count: 52
Number of words: 6

#### 25. Copy content from one file to another.

In [75]:
with open("example.txt","r") as sourcefile:
    content = sourcefile.read()

with open("example_copy.txt","w") as destinationfile:
    destinationfile.write(content)

print("Content Copied Successfully!!")

Content Copied Successfully!!

In [77]:
with open("example_copy.txt") as file:
    content = file.read()

print(f"Content in file:\n{content}")

Content in file:
Rimesh Chaudhary
RishiKant Chaudhary
Gaurab Shrestha